{% extends 'wiki/base.html'%}
{% load static %}
{% block contentTitle%} Upload  {% endblock %}
{% block pageheader %}Uploaded Files{% endblock %}
{% block content %}
<h1> File Upload</h1>
<section>
    <form method='POST' enctype='multipart/form-data' action="{% url 'wiki:upload_page' %}">
    <div class="form-group">
	    <div class="input-group input-file" name="file">
        {% csrf_token %}
        {{form.upload}}		
    </div>
         </div>
    <div class="form-group">
	    <input class="btn btn-primary" type='submit' value="Upload">
	    <button type="reset" class="btn btn-danger">Reset</button>
    </div>
    </form>
</section>
</hr>
<section>
{% if files %}
    <ul>
    {% for file in files %}
    <li><a href="{{file.upload.url}}">{{file.upload.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>No uploaded files</p>
{% endif %}
</section>
{% endblock %}
